asgiref==3.2.7
dj-database-url==0.5.0
Django==3.0.5
django-heroku==0.3.1
gunicorn==20.1.0
Pillow==7.1.1
psycopg2==2.8.6
python-decouple==3.4
python-git==2018.2.1
pytz==2019.3
Send2Trash==1.5.0
sqlparse==0.3.1
typing-extensions==3.10.0.0
whitenoise==5.2.0
