{% extends 'basse.html'%}
{% block content %}

<h1>Stock details</h1>
<div class="card card-body">

<table class="table table-hover">

<a href="{% url 'book_new' %}" class="btn btn-primary  btn-sm btn-block" >New</a>

<thead>
    <tr>
        <th>id</th>
    <th>Name</th>
    <th>Qty</th>
    <th>Price</th>
    <th></th>
    <th></th>
 
    </tr>
</thead>
<tbody>
    {% for book in object_list %}
    <tr>
    <td>{{ book.pk }} : </td>
    <td>{{ book.model }}</td>
    <td>{{ book.Qty }}</td>
    <td>{{ book.Price }}</td>
    <td>
        <img src="{{book.image.url}}"  height="30%" width="15%" class="img-thumbnail" alt="...">
    </td>
  
    <td aling="right">
        <a  href="{% url 'book_view' book.id %}" class="btn btn-success btn-sm">view</a>
        <a href="{% url 'book_edit' book.id %}"class="btn btn-secondary btn-sm">edit</a>
        <a href="{% url 'book_delete' book.id %}"class="btn btn-danger btn-sm">delete</a>
    </td>
    </tr>
    {% endfor %}
</tbody>
</table>

 

{% endblock %}

